cython
hydra-core
wandb
smplx
pyrender
pytorch-lightning==1.9.0
trimesh
SimpleITK
scikit-image
matplotlib
pyyaml
prettytable
fvcore
iopath
imageio
ipdb
natsort
numpy==1.23.1
opencv-python
open3d
numba
Pillow
pydicom
pyvista
scipy
smplpytorch
tensorboard
tqdm
pysdf
datasets